<!doctype html>
<html ng-app="gameOfLife">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script type="text/javascript" src="game_of_life.js"></script>
		<link rel="stylesheet" type="text/css" href="game_of_life.css">
		<title>Jason Zeng's Game of Life</title>
	</head>
	<body>
		<h1>Game of Life</h1>
		<div ng-controller="GameController as game">
			<table>
				<tr ng-repeat="row in game.board track by $index">
					<td ng-repeat="cell in row track by $index" ng-click="game.click($parent.$index, $index)">
						<div class="cell cell-{{cell}}"></div>
					</td>
				</tr>
			</table>
			<select ng-options="pattern.name for pattern in game.collection" ng-model="game.selected" ng-change="game.select()">
			</select>
			<button ng-click="game.step()">step</button>
			<button ng-hide="game.isRunning" ng-click="game.start()">start</button>
			<button ng-show="game.isRunning" ng-click="game.stop()">stop</button>
			<label>#generations: {{game.generations}}</label>
		</div>
	</body>
</html>