<!doctype html>
<html ng-app="gameOfLife">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script type="text/javascript" src="game_of_life.js"></script>
		<title>Jason Zeng's Game of Life</title>
	</head>
	<body>
		<h1>Game of Life</h1>
		<div ng-controller="GameController as game">
			<table>
				<tr ng-repeat="row in game.board track by $index">
					<td ng-repeat="cell in row track by $index">
						<span ng-show="cell"> o </span>
						<span ng-hide="cell"> _ </span>
					</td>
				</tr>
			</table>
			<button ng-click="game.step()">step</button>
		</div>
	</body>
</html>